//- src/views/components/portfolio/portfolio.pug
|
|
#portfolio.portfolio
  |
  |
  .container 
    |
    | 
    img(src="./assets/images/pseudo-bg-img.png", alt="" loading="lazy").pseudo-bg-img
    .pseudo-gradient
    .pseudo-line.pseudo-line--1  
    .pseudo-line.pseudo-line--2  
    .pseudo-line.pseudo-line--3   
    |
    |
    .portfolio__header 
      |
      |
      .left Портфолио
      |
      |
      .right Mobile app / Web-Design / 3D
      |
      |
    |
    |
    .portfolio__items 
      |
      |
      .item 
        img(src="./assets/images/portfolio_img_1.jpg", alt="" loading="lazy") 
      |
      |
      .item 
        img(src="./assets/images/portfolio_img_2.jpg", alt="" loading="lazy") 
      |
      |
      .item 
        img(src="./assets/images/portfolio_img_3.jpg", alt="" loading="lazy") 
      |
      |
      .portfolio__see-all 
        |
        |
        .uni-number / 03
        |
        |
        a(href="#").see-portfolio
          span Полное портфолио
          img(src="./assets/svg/portfolio_icon_arrow.svg", alt="" loading="lazy") 
        |
        |
      |
      |
    |
    | 
  |
  |
|
|