// src/views/components/first/first.scss
@import '../../../assets/styles/utils/variables';

.first {
  // .first__bg-gradient
  &__bg-gradient {
    width: 340px;
    position: absolute;
    height: 590px;
    background: linear-gradient(
      189.71deg,
      #1d1d1d 1.74%,
      rgba(29, 29, 29, 0) 89.78%
    );
    left: 216px;
    bottom: 0;

    @media screen and(max-width: 800px) {
      left: 0;
      top: 0;
      width: 121px;
      bottom: auto;
      height: 390px;
      background: linear-gradient(
        189.71deg,
        #1d1d1d 1.74%,
        rgba(29, 29, 29, 0) 89.78%
      );
    }
  }

  // .first__row
  &__row {
    position: relative;
    padding: 30px 0 35px;
    display: flex;
  }

  // .first__left
  &__left {
    width: 50%;

    @media screen and(max-width: 1400px) {
      width: 70%;
    }

    @media screen and(max-width: 800px) {
      z-index: 2;
    }
  }

  // .first__right
  &__right {
    width: 50%;
    position: relative;

    @media screen and(max-width: 1400px) {
      width: 30%;
    }
  }

  // .first__top
  &__top {
    background-color: #111111;
    width: 794px;
    height: 285px;
    transform: translate(-46px, 0);
    padding: 59px 0 0 86px;
    position: relative;
    margin: 0 0 132px;

    @media screen and(max-width: 1400px) {
      width: 600px;
    }

    @media screen and(max-width: 1200px) {
      width: 450px;
    }

    @media screen and(max-width: 800px) {
      padding: 28px 0 28px 0;
      height: auto;
      width: auto;
      transform: translate(-16px, 0);
      display: inline-flex;
      margin: 20px 0 60px;
      min-width: 236px;

      .uni-author {
        position: absolute;
        bottom: calc(100% + 11px);
        left: calc(10px + 24px);
      }
    }
  }

  // .first__bottom
  &__bottom {
    display: inline-flex;
    align-items: flex-end;
    margin: 0 0 55px;

    @media screen and(max-width: 800px) {
      display: flex;
      margin: 0;
    }

    .wrap-uni-author {
      width: 44px;
      height: 44px;
      margin-left: 40px;

      @media screen and(max-width: 800px) {
        display: none;
      }
    }

    .uni-author--first {
      transform-origin: center center;
      transform: rotate(-90deg);

      @media screen and(max-width: 800px) {
        display: none;
      }
    }

    .go-to-form {
      margin-left: 240px;
      margin-bottom: 15px;

      @media screen and(max-width: 1200px) {
        margin-left: 100px;
      }

      @media screen and(max-width: 800px) {
        margin-left: 30px;
      }
    }

    .load-icon {
      animation: circle 10s linear 0s infinite forwards;

      @media screen and(max-width: 800px) {
        display: none;
      }
    }
  }

  // .first__title
  &__title {
    font-size: 45px;
    line-height: 60px;
    position: absolute;
    bottom: 60px;
    right: -160px;

    @media screen and(max-width: 800px) {
      font-size: 20px;
      line-height: 30px;
      position: relative;
      bottom: auto;
      right: auto;

      span {
        transform: translate(38px, 0);
        display: inline-block;
      }
    }
  }

  .container {
    position: relative;
  }

  .bg-img {
    position: absolute;

    @media screen and(max-width: 800px) {
      height: 130%;
      right: 0;
    }
  }

  .triple-title {
    @media screen and(max-width: 1200px) {
      top: 0;
      right: 0;
    }

    @media screen and(max-width: 800px) {
      top: 20px;
    }

    @media screen and(max-width: 500px) {
      display: none;
    }
  }

  .triple-images {
    height: 100%;
    position: relative;
    z-index: 4;

    img {
      position: absolute;

      @media screen and(max-width: 800px) {
        transform: translate(-100px, 0);
      }

      @media screen and(max-width: 500px) {
        transform: translate(-50px, 0);
      }

      @media screen and(max-width: 360px) {
        transform: translate(-25px, 0);
      }

      &:nth-of-type(1) {
        // bottom: 180px;
        bottom: 90px;
        left: 438px;
        filter: drop-shadow(0px 4px 100px rgba(0, 0, 0, 0.4));

        @media screen and(max-width: 1400px) {
          bottom: 180px;
          left: 150px;
          z-index: 2;
        }

        @media screen and(max-width: 1200px) {
          z-index: initial;
          bottom: 300px;
          left: 100px;
        }

        @media screen and(max-width: 800px) {
          width: 165px;
          left: 55px;
          bottom: 116px;
        }
      }
      &:nth-of-type(2) {
        bottom: 188px;
        left: 190px;
        filter: drop-shadow(40px 40px 120px rgba(0, 0, 0, 0.3));

        @media screen and(max-width: 1400px) {
          left: -100px;
        }

        @media screen and(max-width: 800px) {
          width: 176px;
          left: -40px;
          bottom: 76px;
        }
      }
      &:nth-of-type(3) {
        bottom: 0;
        left: -75px;
        filter: drop-shadow(20px -30px 100px rgba(0, 0, 0, 0.4));

        @media screen and(max-width: 1400px) {
          left: 0;
          z-index: 2;
        }

        @media screen and(max-width: 800px) {
          width: 220px;
          z-index: initial;
        }
      }
    }
  }

  .lines {
    position: absolute;
    // top: -70px;
    top: 50%;
    left: 0;
    width: 903px;
    height: 1px;
    background-color: rgba(255, 255, 255, 0.05);
    transform: translate(0, -50px);
    pointer-events: none;

    @media screen and(max-width: 800px) {
      top: 60%;
      width: 90vw;
    }

    &::before,
    &::after {
      content: '';
      position: absolute;
      width: 1px;
      height: 862px;
      background-color: rgba(255, 255, 255, 0.05);
      transform: translate(0, -50%);

      @media screen and(max-width: 800px) {
        height: 450px;
      }
    }

    &::before {
      left: 304px;

      @media screen and(max-width: 800px) {
        left: 10%;
      }
    }

    &::after {
      left: calc(304px + 349px);

      @media screen and(max-width: 800px) {
        left: 45%;
      }
    }
  }

  .wrap-dekor {
    position: absolute;
    top: 50%;
    width: 40px;
    height: 40px;
    left: -130px;
    transform: rotate(-90deg);
    // display: inline-flex;
    align-items: center;
    justify-content: center;

    // по просьбе дизайнера убрано
    display: none;

    @media screen and(max-width: 1200px) {
      display: none;
    }
  }
}

.list-ancors {
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: flex;
  border-top: 1px solid rgba(255, 255, 255, 0.05);
  position: relative;

  li {
    width: 100%;
    flex-shrink: 1;
    position: relative;
    // max-width: 284px;

    &:nth-of-type(1) {
      // width: 284px;
      width: 304px;
      flex-shrink: 0;

      @media screen and(max-width: 1200px) {
        width: 100%;
        flex-shrink: initial;
      }
    }

    &:nth-of-type(2) {
      width: 349px;
      flex-shrink: 0;

      @media screen and(max-width: 1200px) {
        width: 100%;
        flex-shrink: initial;
      }
    }

    &:nth-of-type(3) {
    }

    &:nth-of-type(4) {
    }

    &:nth-of-type(5) {
    }

    &:last-of-type {
      // flex-shrink: 2;
    }
  }

  a {
    color: rgba(255, 255, 255, 0.3);
    padding: 40px 60px;
    width: 100%;
    display: block;
    text-align: center;
    text-decoration: none;
    transition: all 0.3s;

    @media screen and(max-width: 800px) {
      padding: 8px 16px;
    }

    &::before {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 1px;
      background-color: #ffffff;
      opacity: 0;
      transition: all 0.3s;
    }
  }

  a.active,
  a:hover {
    color: rgba(255, 255, 255, 1);

    &::before {
      opacity: 1;
    }
  }
}
