//- src/views/components/slider/slider.pug

|
| 
.slider
  |
  |
  .container 
    |
    |
    .slider__header 
      |
      |
      a(href="#").slider__back 
        img(src="./assets/svg/icon_arr_back.svg", alt="" loading="lazy").arrow
        span Назад 
      |
      |
      +uni-author({
        classes: "uni-author--slider",
        title: "PORTFOLIO OF",
        name: "ARSENIY POPKOV",
      })
      |
      |
      .slider__contact 
        span Портфолио
      |
      |
    |
    |
    .slider__body 
      |
      | 
      img(src="./assets/images/slider_bg_img_1.png", alt="" ).bg-img.bg-img--1
      img(src="./assets/images/slider_bg_img_2.png", alt="" ).bg-img.bg-img--2
      img(src="./assets/images/slider_bg_img_3.png", alt="" ).bg-img.bg-img--3
      |
      |
      .swiper-container.portfolio-slider
        |
        |
        .swiper-wrapper 
          |
          |
          .swiper-slide
            |
            |
            a(href="#").slider__cart 
              .wrap-img 
                img(src="./assets/images/slider_img_1.jpg", alt="" loading="lazy")
              .title A
          |
          |
          .swiper-slide
            |
            |
            a(href="#").slider__cart 
              .wrap-img 
                img(src="./assets/images/slider_img_2.jpg", alt="" loading="lazy")
              .title Complex Website
          |
          |
          .swiper-slide 
            |
            |
            a(href="#").slider__cart 
              .wrap-img 
                img(src="./assets/images/slider_img_3.jpg", alt="" loading="lazy")
              .title Casino Website
          |
          |
          .swiper-slide
            |
            |
            a(href="#").slider__cart 
              .wrap-img 
                img(src="./assets/images/slider_img_4.jpg", alt="" loading="lazy")
              .title Bank Mobile
          |
          |
          .swiper-slide
            |
            |
            a(href="#").slider__cart 
              .wrap-img 
                img(src="./assets/images/slider_img_5.jpg", alt="" loading="lazy")
              .title Kurse Website
          |
          |
          .swiper-slide
            |
            |
            a(href="#").slider__cart 
              .wrap-img 
                img(src="./assets/images/slider_img_6.jpg", alt="" loading="lazy")
              .title ZMK Website
          |
          |
          .swiper-slide
            |
            |
            a(href="#").slider__cart 
              .wrap-img 
                img(src="./assets/images/slider_img_7.jpg", alt="" loading="lazy")
              .title Energetik Website
          |
          |
          .swiper-slide
            |
            |
            a(href="#").slider__cart 
              .wrap-img 
                img(src="./assets/images/slider_img_8.jpg", alt="" loading="lazy")
              .title Bank2 Mobile
          |
          |
          .swiper-slide
            |
            |
            a(href="#").slider__cart 
              .wrap-img 
                img(src="./assets/images/slider_img_9.jpg", alt="" loading="lazy")
              .title A
          |
          |
          .swiper-slide
            |
            |
            a(href="#").slider__cart 
              .wrap-img 
                img(src="./assets/images/slider_img_10.jpg", alt="" loading="lazy")
              .title 
          |
          |
          .swiper-slide
            |
            |
            a(href="#").slider__cart 
              .wrap-img 
                img(src="./assets/images/slider_img_11.jpg", alt="" loading="lazy")
              .title Bank Website
          |
          |
          .swiper-slide
            |
            |
            a(href="#").slider__cart 
              .wrap-img 
                img(src="./assets/images/slider_img_12.jpg", alt="" loading="lazy")
              .title Crystall Mobile
          |
          | 
        |
        |
      |
      |
      .wrap-slider-pagination
        .pagination-gradient
        .triple-title(data-text="01") 01
        .slider__pagination  
      |
      |
    |
    |  
  |
  |
|
|  