extends ../templates/_template.pug

block title
  title Заголовок

block basicSeo
  meta(name='description' content='Описание страницы')
  meta(name='keywords', content='')
  meta(name='author' content='')

block content
  |
  | 
  .wrap-main
    | 
    |
    include ../components/first/first.pug 
    |
    |
    include ../components/about/about.pug 
    |
    |  
    include ../components/portfolio/portfolio.pug
    |
    |
    include ../components/puzzle-me/puzzle-me.pug
    |
    | 
  |
  |
  //-<svg width="12" height="16">
  //-  <use xlink:href="./assets/svg/svg_sprite.svg#geo"></use>
  //-</svg>
  |
  |