// src/views/components/about/about.scss
@import '../../../assets/styles/utils/variables';

.about {
  padding: 46px 0 0;

  // .about__title
  &__title {
    font-size: 45px;
    left: -112px;
    line-height: 60px;
    max-width: 390px;
    position: absolute;
    top: 54px;
    z-index: 2;

    @media screen and(max-width: 800px) {
      font-size: 20px;
      left: -60px;
      line-height: 30px;
      max-width: 172px;
      top: 20px;
    }
  }

  // .about__text
  &__text {
    background-color: #111111;
    padding: 60px 40px 60px 345px;
    position: relative;

    @media screen and(max-width: 1700px) {
      padding: 60px 40px 60px 300px;
    }

    @media screen and(max-width: 1000px) {
      padding: 200px 16px 40px 20px;
    }

    @media screen and(max-width: 800px) {
      padding: 100px 16px 40px 20px;
    }

    @media screen and(max-width: 640px) {
      // max-width: 380px;
      max-width: 245px;
    }

    @media screen and(max-width: 500px) {
      margin-left: 60px;
      // max-width: 100%;
    }
  }

  // .about__text-Title
  &__text-title {
    font-size: 15px;
    font-weight: 500;
    line-height: 23px;
    margin: 0 0 30px;
    padding: 0 0 16px;
    position: relative;

    @media screen and(max-width: 800px) {
      font-size: 12px;
      margin: 0 0 13px;
      padding: 0 0 9px;
    }

    &::before {
      background: linear-gradient(
        90deg,
        rgba(255, 255, 255, 0.15) 0%,
        rgba(255, 255, 255, 0) 107.25%
      );
      bottom: 0;
      content: '';
      height: 1px;
      left: 0;
      position: absolute;
      width: 100%;
    }
  }

  // .about__list
  &__list {
    color: rgba(255, 255, 255, 0.4);
    display: flex;
    font-size: 18px;
    line-height: 40px;
    list-style-type: none;
    margin: 0;
    padding: 0 20px 0 0;

    @media screen and(max-width: 1500px) {
      flex-direction: column;
    }

    @media screen and(max-width: 800px) {
      font-size: 10px;
      line-height: 20px;
      padding: 0 0 0 0;
    }

    li:first-of-type {
      max-width: 485px;

      @media screen and(max-width: 1700px) {
        max-width: 400px;
      }

      @media screen and(max-width: 1500px) {
        margin-bottom: 20px;
        max-width: 450px;
      }
    }

    li:last-of-type {
      margin-left: 105px;
      max-width: 455px;

      @media screen and(max-width: 1700px) {
        margin-left: 50px;
      }

      @media screen and(max-width: 1500px) {
        margin-left: 0;
        max-width: 450px;
      }
    }
  }

  .container {
    display: flex;
    justify-content: flex-end;
  }

  .uni-number {
    position: absolute;
    right: 60px;
    top: 40px;

    @media screen and(max-width: 800px) {
      right: 25px;
      top: 87px;
    }
  }
}
