//- src/views/components/about/about.pug
|
|
#about.about 
  |
  | 
  .container 
    | 
    |
    .about__text 
      |
      |
      .about__title Web-Design, 3D, Programmer.
      |
      |
      .about__text-title Обо мне
      |
      |
      ul.about__list
        |
        |
        li 
          | Привет, меня зовут Арсений Попков, 
          br
          | я занимаюсь веб-дизайном и 3D моделированием. Чуть-чуть увлекаюсь вёрсткой.
        |
        |
        li Считаю, что сайт должен увеличивать продажи, быть удобным и эстетичным. При разработке дизайна особое внимание уделяю структуре и логике интерфейса.
        |
        |
      |
      |
      .uni-number / 02
      |
      |
    |
    | 
  |
  |
|
|