//- src/views/components/uni-author/uni-author.pug

mixin uni-author(args)
  |
  |
  .uni-author(
      class=args.classes
    )
    |
    |
    .uni-author__title=args.title
    |
    |
    .uni-author__name=args.name
    |
    |
  |
  |

//-+uni-author({
    classes: "",
    title: "PORTFOLIO OF",
    name: "ARSENIY POPKOV",
  })