//- src/views/components/header/header.pug
|
|
header(data-aos="fade-up").header
  |
  |
  .container
    |
    |
    .header__row 
      |
      |
      .toggle-lang 
        a(href="#").active Russian
        span.separator / 
        a(href="#") English
      |
      |
      a(href="#").contact-me 
        span Связаться со мной
        <svg width="16" height="10" class="icon-arr">
          <use xlink:href="./assets/svg/svg_sprite.svg#arr-contact-me"></use>
        </svg>
        <svg width="22" height="9" class="icon-btn">
          <use xlink:href="./assets/svg/svg_sprite.svg#icon-btn-menu"></use>
        </svg>
      |
      |
      .uni-number / 01 
      |
      |
    |
    |
  |
  |
  .contact-popup
    .contact-popup__bg
    .contact-popup__inner
      +phone()
      +mail()
      +social({
        classes: ""
      })
  |
  |
|
|
