// src/views/components/header/header.scss
@import '../../../assets/styles/utils/variables';

.header {
  position: relative;
  font-size: 20px;
  line-height: 55px;
  z-index: 5;

  // .header__row
  &__row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 70px 0 16px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.05);
  }
}

/*
  Responsive
*/

@media screen and(max-width: 800px) {
}

.toggle-lang {
  color: rgba(255, 255, 255, 0.4);
  display: inline-flex;
  align-items: center;

  a {
    transition: color 0.3s;
    color: inherit;
    text-decoration: none;

    &:hover {
      color: rgba(255, 255, 255, 0.8);
    }
  }

  a.active {
    color: rgba(255, 255, 255, 1);
  }

  .separator {
    margin: 0 5px;
  }
}

.contact-me {
  display: inline-flex;
  align-items: center;
  text-decoration: none;
  color: #ffffff;

  /* span {
  } */

  svg {
    fill: #fff;
    margin-left: 20px;
  }
}

.contact-me.open {
  svg {
    transform: rotate(-180deg);
  }
}
