//- src/views/components/footer/footer.pug
|
|
footer#footer.footer(data-aos="fade-up")
  |
  |
  .container 
    |
    |
    .footer__row 
      |
      |
      .footer__author
        |
        |
        +uni-author({
          classes: "",
          title: "PORTFOLIO OF",
          name: "ARSENIY POPKOV",
        })
        |
        |
      |
      |
      .footer__social
        |
        |
        +social({
          classes: ""
        })
        |
        |
      |
      |
      .footer__contacts
        |
        |
        +phone(args)
        |
        |
        +mail(args)
        |
        |
      |
      | 
    |
    |
  |
  |
|
|